.content-header {
  margin-top: 50px;
}
.headerTable {
  background-color: black;
  color: white;
}
.rightAlign {
  text-align: right;
}
.imageRound {
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
.userImage {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.col-span {
  text-align: center;
}
.each-top {
  margin-top: 10px;
}
.each-detail {
  background-color: #343a40;
  color: white;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.each-p span {
  color: gray;
}
.form-group {
  margin-bottom: 1rem;
}
